$background: #E4DFDA;
$accent-color-1: #48A9A6;
$accent-color-2: #731DD8;
$accent-color-3: #D4B483;
$accent-color-4: #C1666B;

body {
    margin: 0;
    height: 100vh;
    min-height: 700px;
    width: 100vw;
    min-width: 900px;
    background-color: $background;
}

#root {
    height: 100%;
}

#App {
    height: 100%;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('./fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf');
}

#Navbar {
    font-family: 'Roboto Slab';
    display: grid;
    grid-template-columns: 0.5fr 3fr 1.5fr 2fr 1fr 2fr 1fr;
    align-items: center;
    height: 7%;

    h2 {
        margin: 0;
    }

    div {
        height: 50%;
        position: relative;
        border-bottom: 1px black solid;

        &::after {
            content: '';
            display: block;
            position: absolute;
            background-color: $accent-color-2;
            height: 2px;
            width: 0%;
            opacity: 0;
            transition: 0.2s all;
            left: 0;
            top: 97%;
        }

        &:focus-within::after {
            width: 100%;
            opacity: 1;
        }
    }

    input {
        background: transparent;
        border: none;
        width: 90%;
        justify-self: center;
        font-family: 'Montserrat';
        height: 100%;
        width: 98.5%;
        font-size: 100%;


        &:focus {
            outline: none;
        }
    }

    p {
        font-size: 125%;
        margin: 0;
        text-align: center;
    }

    #info {
        font-weight: bolder;
        border: 2px black solid;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        justify-self: center;
        cursor: pointer;
        transition: 0.2s all;

        &:hover {
            background-color: rgba(0, 0, 0, 0.3);
        }
    }

    button {
        justify-self: center;
        height: 60%;
        font-family: 'Roboto Slab';
        width: 70%;
        border: 2px black solid;
        font-size: 150%;
        position: relative;

        &::before {
            content: '';
            display: block;
            height: 100%;
            background-color: rgb(115, 29, 216, 0.6);
            width: 0%;
            opacity: 0;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            transition: 0.25s all;
        }

        &:hover::before {
            width: 101%;
            opacity: 1;
        }

        &:active::before {
            background-color: rgb(115, 29, 216, 0.8);
        }

        &:focus {
            outline: none;
        }
    }
}

#Visual {
    font-family: 'Montserrat';
}